<section id="breeze">
  <!-- CONTENT -->
  <section id="content" class="bitcoin">
    <!-- JUMBOTRON-->
    <div class="jumbotron jumbotron-fluid">
      <div class="col-10 mx-auto">
        <div class="col-xs-12 text-left">
          <h5 class="text-capitalize walletName">Voting</h5>
        </div>
        <!-- /row-->
        <div>
          <em class="muted">No voting capabilities in this version yet. Check it out next version.</em>
        </div>
      </div>
      <!-- /container-->
    </div>
    <!-- /JUMBOTRON-->
    <status-bar></status-bar>
  </section>
  <!-- /CONTENT-->
</section>
<!-- /breeze-->



