<section id="breeze">
  <!-- CONTENT -->
  <section id="content" class="bitcoin">
    <!-- JUMBOTRON-->
    <!--<div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <form class="col-md-6 col-xs-12">
              <h5 class="text-uppercase text-center">Search for a transaction</h5>
              <div class="form-group">
                <input type="email" class="form-control mt-3" id="searchEmail" aria-describedby="emailHelp" placeholder="tax ID, amount, block number, ...">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>-->
    <!-- /JUMBOTRON-->

    <!-- TRANSACTIONS -->
    <section id="transaction" class="col-10 mx-auto">
      <h5 class="mt-4">Settings</h5>
      <!-- /card-->
      <div>
        <em class="muted">No settings here yet. Check it out next version.</em>
      </div>
    </section>
    <!-- /TRANSACTIONS -->
  </section>
  <!-- /CONTENT-->
</section>
<!-- /breeze-->
